html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: rgba(0, 0, 0, 1);
    /*
    background: url('/Application/Desktop/Image/Background/background-100.png');
     */
    background-repeat: no-repeat;
    background-size: cover;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Partially transparent */
    border-radius: 20px;
    border: 1px solid rgba(39, 170, 255, 0.7);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Fully transparent */
}

::-webkit-scrollbar-corner {
    background-color: transparent; /* Fully transparent */
}