section[name="user-password-forgot"] {
    width: 400px;
    height: 250px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 125px);
    background: rgba(245, 245, 245, 1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

section[name="user-password-forgot"] h1 {
    display: block;
    width: calc(100% - 40px);
    height: 20px;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 124, 13, 1);
    border-top-left-radius: 25px;
}

section[name="user-password-forgot"] label {
    display: block;
    float: left;
    clear: both;
    width: 15px;
    height: 15px;
    padding: 7.5px;
    border: 1px solid rgba(175, 175, 175, 1);
    margin-bottom: 5px;
}

section[name="user-password-forgot"] input {
    height: 25px;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 5px;
    border: 1px solid rgba(175, 175, 175, 1);
    border-left: 0;
}

section[name="user-password-forgot"] input[type="submit"] {
    border: 1px solid rgba(175, 175, 175, 1);
    background-color: rgba(0, 124, 198, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

section[name="user-password-forgot"] input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
}


section[name="user-password-forgot"] .user-password-forgot {
    padding: 25px;
    height: calc(100% - 90px);
}

section[name="user-password-forgot"] p.password-forgot-text {
    margin: 0;
    margin-bottom: 20px;
}

section[name="user-password-forgot"] p.version {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
}

section[name="user-password-forgot"] form {
    height: calc(100% - 20px);
}

section[name="user-password-forgot"] .user-password-forgot-error {
    color: rgba(255, 0, 0, 1);
}

section[name="user-password-forgot"] .success {
    text-align: center;
    margin-top: 50px;
}

