.dialog .head {
    background-color: rgba(255, 124, 13, 0.5);
    background: rgba(0, 0, 0, 0.5);
    background: rgba(0, 33, 177, 0.4);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 33, 177, 0.4));
    color: rgba(0, 0, 0, 1);
    color: rgba(39, 170, 255, 1);
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.dialog-active .head {
    color: rgba(255, 255, 255, 1);
}

.dialog .head h1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: inline-block;
    margin: 0;
    font-size: 1.6rem;
}

.dialog .head h2 {
    padding-left: 10px;
    padding-top: 5px;
    display: inline-block;
    margin: 0;
    font-size: 1.6rem;
}

.dialog .head .icon {
    height: 24px;
    position: relative;
    top: 2px;
}

.dialog .head .minimize {
    float: right;
}

.dialog .head .minimize i {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(39, 170, 255, 0.3);
}

.dialog .head .minimize i:hover {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}

.dialog .head .close {
    float: right;
}

.dialog .head .close:hover {
    color: rgba(255, 0, 0, 1);
}
.dialog .head .close i {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(39, 170, 255, 0.3);
}

.dialog .head .close i:hover {
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 0, 0, 1);
}

.dialog .menu {
    background: rgba(246, 246, 246, 1);
    width: 100%;
    overflow: hidden;
    cursor: default;
}

.dialog .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dialog .menu li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(200, 200, 200, 1);
}

.dialog .menu li.active {
    background: rgba(255, 124, 13, 1);
}

.dialog .menu li .close:hover {
    color: rgba(255, 0, 0, 1);
}

.dialog .menu li .has-changed {
    margin-left: 10px;
}

.dialog .menu-file-protector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog .menu-file {
    position: absolute;
    top: 60px;
    width: 100px;
    background: rgba(225, 225, 225, 1);
    border: 1px solid rgba(200, 200, 200, 1);
    cursor: default;
}

.dialog .menu-file li {
    clear: both;
    border: 0;
    width: calc(100% - 20px);
}

.dialog .menu-file li:hover {
    background: rgba(200, 226, 230, 1);
}

.dialog {
    position: absolute;
    box-shadow: 5px 10px rgba(220, 220, 220, 0.6);
    border: 1px solid rgba(246, 246, 246, 1);
}

.dialog .footer {
    width: 100%;
    height: 40px;
    background: rgba(246, 246, 246, 1);

}